---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <div class="header-container">
      <div class="title-container">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.description %}
          <p class="post-description">{{ page.description }}</p>
        {% endif %}
      </div>
      {% if page.header_buttons %}
      <div class="header-buttons">
        {% for button in page.header_buttons %}
          <a href="{{ button.url | relative_url }}" class="header-btn" target="_blank">{{ button.text }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
